spring:
  application:
    name: springboot-java
  profiles:
    active: local
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

logging:
  config: classpath:logging/logback-spring.xml
  level:
    root: info
    sun.rmi: info
    javax.management: info

management:
  endpoints:
    web:
      exposure:
        include: health, info  # 모든 엔드포인트 노출 = *
  endpoint:
    health:
      show-details: when_authorized  # health 상세 정보 표시 여부

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    display-request-duration: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json