version: "3.9"

services:
  vault:
    image: hashicorp/vault:1.15
    container_name: vault
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
    volumes:
      - ./vault/config:/vault/config
      - ./vault/data:/vault/data
    cap_add:
      - IPC_LOCK
    command: vault server -config=/vault/config/vault.hcl